@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h4{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #25C4F4;
}

h2{
    font-family: Poppins;
    font-size: 70px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
}

p{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}